
.commerce-account-sidebar {
    background: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.commerce-account-sidebar .commerce-account-sidebar-item {
    color: #000;
    line-height: 2.2rem;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    gap: 10px;
    border-bottom: 1px solid #f0f0f0;
    transition: all .4s ease-in-out;
}

.commerce-account-sidebar .commerce-account-sidebar-item:hover {
    background: #3e7f3c;
    color: #fff;
    text-decoration: none;
    border-color: #3e7f3c;
}

.commerce-account-sidebar .commerce-account-sidebar-item-active {
    background-color: #285227;
    color: #fff;
    text-decoration: none;
    border-color: #285227;
}

.commerce-account-sidebar .commerce-account-sidebar-item:first-child {
    border-top: 1px solid #f0f0f0;
}

.commerce-account-sidebar-item-icon > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.commerce-account-sidebar-item-content {
    flex: 1 1 auto;
}

.commerce-account-sidebar-item-title {
    margin: 0;
}

