.product-details__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-direction: column;
  margin: 10px 0;
}

.pdp-header__sku {
  display: none;
}

.pdp-header__title {
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: .035em;
  line-height: 4.3rem;
  margin: 0 0 12px;
  color: #000;
}

.product-details__meta-info {
  display: flex;
  flex-wrap: wrap;
}

.product-details__meta-info .pdp-sku-info {
  display: flex;
  gap: 5px;
  color: #000;
}

.product-details__stock {
  border-left: solid 1px #aaa;
  margin-left: 10px;
  padding-left: 10px;
}

.product-details__stock .is-in-stock {
  color: #03a64a;
  display: inline-block;
  vertical-align: top;
}

.product-details__price .pdp-price {
  margin: 55px 0 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-details__price .pdp-price .pdp-price__amount {
  color: #000;
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: .01em;
  line-height: 2.5rem;
  vertical-align: top;
}


.product-details__short-description {
  border-top: solid 1px #aaa;
  font-weight: 300;
  margin: 20px 0;
  padding-top: 20px;
}


.product-details__alert {
  margin-top: var(--spacing-small);
  margin-bottom: var(--spacing-small);
}

.product-details__alert:empty {
  display: none;
}

.product-details__gallery .pdp-overlay__content .pdp-carousel,
.product-details__gallery .pdp-overlay__content .pdp-carousel--thumbnailsRow {
  max-height: unset;
}

.pdp-carousel__controls__container--thumbnailsRow img,
.pdp-carousel__controls__container--thumbnailsColumn img {
  height: auto;
}

.product-details__gallery .pdp-carousel__slide img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.product-details__gallery .pdp-carousel__thumbnail img {
  width: 100px;
  height: 100px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}


.product-details__buttons {
  position: relative;
}

.product-details__button__action-buttons {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  gap: 15px 25px
}


.product-details__buttons__compare button,
.product-details__buttons__add-to-wishlist button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: transparent;
  cursor: pointer;
  border-radius: 0;
  padding: 0;
  border: 0;
  color: #000;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: all .4s ease-in-out;
}


.product-details__buttons__compare button svg,
.product-details__buttons__add-to-wishlist button svg {
    width: 25px;
    height: 25px;
    padding: 10px;
    color: #285227;
}

.product-details__buttons__compare button svg {
  transform: scale(-1) rotate(-90deg);
}

.product-details__buttons__compare button:hover svg,
.product-details__buttons__add-to-wishlist button:hover svg {
    color: #3e7f3c;
}

.product-details__buttons .product-details__buttons__add-to-cart button {
  background: #285227;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 10px;
  font-size: 2rem;
  line-height: 2.5rem;
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: 10px;
  text-align: center;
}

.product-details__buttons .product-details__buttons__add-to-cart button svg {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}


.product-details__quantity-container {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.product-details__quantity-container .quantity-title {
  padding-inline-end: 20px;
  box-sizing: border-box;
  display: block;
  min-width: 68px;
  margin: 0;
}

.product-details__quantity .dropin-incrementer__content {
  align-items: center;
  display: flex;
  position: relative;
  border: 0;
  height: auto;
  width: 105px;
}

.product-details__quantity .pdp-quantity {
  position: relative;
}

.product-details__quantity .dropin-incrementer__input {
  border: 2px solid #dfdedd;
  border-radius: 80px;
  height: 44px;
  padding: 10px 30px;
  text-align: center;
  transition: border .4s ease-in-out;
  width: 105px;
}

.product-details__quantity .dropin-incrementer__input:focus,
.product-details__quantity .dropin-incrementer__input:hover {
  border: 2px solid #000;
}

.product-details__quantity .dropin-incrementer__content.dropin-incrementer__content--error .dropin-incrementer__input {
  border-color: var(--color-alert-500);
}

.product-details__quantity  .dropin-incrementer__content--error-message {
  position: absolute;
  margin: 10px 0 0;
  width: max-content;
}

.product-details__quantity .dropin-incrementer__decrease-button,
.product-details__quantity .dropin-incrementer__increase-button {
  align-items: center;
  border-radius: 80px 0 0 80px;
  cursor: pointer;
  display: flex;
  height: 44px;
  min-width: 30px;
  position: absolute;
  top: 0;
  user-select: none;
  border: 0;
  background: none;
  padding: 0;
}


.product-details__quantity .dropin-incrementer__decrease-button:hover svg,
.product-details__quantity .dropin-incrementer__increase-button:hover svg {
  color: #a8a69f;
}

.product-details__quantity .dropin-incrementer__decrease-button {
  left: 2px;
  justify-content: flex-end;
}

.product-details__quantity .dropin-incrementer__increase-button {
  right: 2px;
  justify-content: flex-start;
}

.dropin-incrementer__decrease-button:focus,
.dropin-incrementer__increase-button:focus,
.dropin-incrementer__decrease-button:hover:enabled,
.dropin-incrementer__increase-button:hover:enabled,
.dropin-incrementer__decrease-button:focus:not(:focus-visible),
.dropin-incrementer__increase-button:focus:not(:focus-visible) {
  background: none;
}


.pdp-carousel__controls__wrapper--thumbnailsRow .pdp-carousel__thumbnail__container {
  max-width: 100px;
  display: block;
  line-height: 0;
}

.product-details__tabs-wrapper {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  position: relative;
}

.pdp-carousel--arrows {
  padding: 0;
  width: auto;
}

.recomended.product-slider-container .product-slider-title {
    font-size: 2.2rem;
    font-weight: bold;
    text-align: start;
}

.recomended.product-slider-container  .product-slider-header {
    padding: 0;
    margin: 0 0 15px;
}

@media only screen and (max-width: 1024px) {
  .product-details__buttons__add-to-cart {
    width: 100%;
  }

  .product-details__button__action-buttons {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media only screen and (max-width: 767px) {
  .pdp-tab-btn {
    display: none;
  }

  .pdp-accordion-header {
    background: #002941;
    border: 0;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    position: relative;
    text-align: left;
    width: 100%;
    margin-bottom: 15px;
  }

  .pdp-accordion-header::after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1.8rem;
    color: #fff;
    content: '\e904';
    display: inline-block;
    font-family: var(--icomoon-font);
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 1;
    position: absolute;
    right: 15px;
    text-transform: none;
    top: 10px;
    transform: rotate(-90deg);
  }

  .pdp-accordion-header.active {
    background: #f0f0f0;
    color: #384c60;
    margin-bottom: 0;
  }

  .pdp-accordion-header.active::after {
    transform: rotate(90deg);
    color: #384c60;
  }

  .pdp-tab-panel {
    padding: 20px;
  }

  .pdp-tab-panel.active {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .product-details__wrapper {
    flex-direction: row;
  }

  .product-details__left-column {
    width: 39%;
  }

  .product-details__right-column {
    width: 55%;
  }

  .pdp-header__title {
    font-size: 2.5rem;
  }

  .product-details__stock {
    margin-left: 20px;
    padding-left: 20px;
  }

  .product-details__tabs-wrapper {
    margin-top: 60px;
  }

  .product-details__buttons .product-details__buttons__add-to-cart button {
    width: 200px;
  }

  .pdp-accordion-header {
    display: none;
  }

  .product-details__quantity-container {
    margin: 25px 0 20px;
  }
}

@media only screen and (max-width: 1023px) {
  .product-details__gallery.desktop-gallery.dropin-design {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .product-details__gallery.mobile-gallery.dropin-design {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .product-details__buttons__compare button::before {
    font-size: 1.8rem;
  }

  .product-details__buttons__add-to-wishlist button::before {
    font-size: 1.6rem;
  }

  .dropin-incrementer__button-container .dropin-incrementer__decrease-button::before {
    font-size: 2.5px;
  }

  .dropin-incrementer__button-container .dropin-incrementer__increase-button::before {
    font-size: 1.2rem;
  }
}


@media only screen and (min-width: 1440px) {
  .product-details__wrapper {
    column-gap: 80px;
  }
}

/* Container for the Tab Navigation */
.pdp-tabs-nav {
  display: flex;
  padding: 0;
  list-style: none;
  background-color: #fcfcfc;
  padding-top: 30px;
  gap: 30px;
}

/* Individual Tab Buttons */
.pdp-tab-btn {
  background: none;
  border-bottom: none;
  border: 0;
  border: 1px solid transparent;
  color: #000;
  font-size: 1.6rem;
  height: 36px;
  line-height: 20px;
  padding: 5px 0;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}

/* Hover State */
.pdp-tab-btn:hover {
  border-bottom: 1px solid #000;
}

/* Active Tab Style (Matches the blue bar in your screenshot) */
.pdp-tab-btn.active {
  background: #fcfcfc;
  color: #384c60;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

/* Show active tab panel */
.pdp-tab-panel.active {
  display: block;
}

.pdp-tab-panel {
  display: none;
  background: #fcfcfc;
  position: relative;
}

 .pdp-tab-panel .pdp-description {
    padding: 0;
    list-style: none;
  }

@media only screen and (min-width: 768px) {
  .pdp-tab-panel {
    padding: 40px 0;
  }

  .product-details__tabs-wrapper::before,
  .product-details__tabs-wrapper::after {
    background-color: #fcfcfc;
    bottom: 0;
    content: '';
    display: inline-block;
    height: 100%;
    top: 0;
    position: absolute;
    width: 3000px;
  }

  .product-details__tabs-wrapper::before {
    left: -3000px;
  }

  .product-details__tabs-wrapper::after {
    right: -3000px;
  }
}