.category-columns .columns > div {
    gap: 2px;
}

.category-columns .columns p {
    margin: 0;
}

.category-columns .columns .columns-img-col img {
    transition: all .3s ease-in-out;
}

.category-columns .columns .columns-img-col:hover img {
    transform: scale(1.1);
}

.bca-acp .columns > div {
    align-items: flex-start;
    gap: 1.8rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.bca-acp .columns .columns-img-col {
    flex: 2;
}

.bca-acp .columns img {
    border-radius: 6px;
}

.bca-acp .columns > div > div:nth-child(2) {
    background: rgb(0 0 0 / 90%);
    color: #fff;
    border-radius: 6px;
    padding-bottom: 1.6rem;
}

.bca-acp .columns strong {
    padding: 0 1.6rem;
    font-size: 2rem;
}

.bca-acp .columns p,
.bca-acp .columns h3  {
    margin: 0;
}

.bca-acp .columns > div > div:nth-child(2) p {
    padding: 0 1.6rem;
}

.bca-acp .columns > div > div:nth-child(2) p a {
    margin-top: 1.6rem;
    display: inline-block;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    
}

.bca-acp .columns > div > div:nth-child(2) img {
    height: 296px;
}

.category-tabs .tabs-panel-description a {
    text-decoration: none;
    background-image: none;
    background: #285227;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Chivo, Arial, sans-serif;
    font-weight: 400;
    margin: 0 10px 10px 0;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 2rem;
    padding: 18px 35px;
    font-size: 1.8rem;
    border-radius: 4px;
    box-shadow: none;
}

.category-tabs .tabs-panel-description a:hover {
    background: #3e7f3c;
    border: 0;
    color: #fff;
    text-decoration: none;
}

.category-tabs .tabs-panel-description p:last-child {
    width: 480px;
    margin: 0 auto;
}